/* .container{
    margin: 0 !important;
} */

@media only screen and (min-width: 361px) {
    .container {
        background-color: blue !important; 
        color: #f0f0f0;
    }
    }
    
    @media only screen and (max-width: 360px) {
    .container {
        background-image: url('../assets/mobile-modern.svg') !important;
        color: #f0f0f0 !important;
        background-position: center !important;
        background-size: contain !important; 
    }
    }